.benefits {
    padding: 90px;
}

.benefit-title {
    text-align: center;
}

.part-1 {
    width: 90px;
    height: 90px;
    border: 5px solid var(--main-color);
    padding: 5px;
}

.part-2 {
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    padding: 20px;
}

.benefit-part-1,
.benefit-part-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.parts {
    width: 340px;
}

.parts>p {
    padding-top: 10px;
    color: var(--black-color);
    font-size: 26px;
    font-family: var(--playfair);
}

.parts>span {
    font-size: 18px;
    color: var(--grey-color);
}

@media only screen and (max-width: 1150px) {
    .benefits {
        padding: 65px;
    }
}

@media only screen and (max-width: 1023px) {
    .benefits {
        gap: 20px;
    }

    .benefit-part-1,
    .benefit-part-2 {
        gap: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .benefits {
        padding: 45px;
    }
}

@media only screen and (max-width: 490px) {
    .benefits {
        padding: 35px;
    }

    .parts>span {
        display: none;
    }

    .parts>p {
        font-size: 15px;
    }

    .header {
        font-size: 25px;
    }
}