.customer {
    padding: 90px;
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
}

.custom-title {
    text-align: center;
}

.title {
    font-family: var(--manrope);
    font-size: 15px;
    color: var(--main-color);
}

.header {
    font-size: 45px;
    color: var(--black-color);
    font-family: var(--playfair);
}

.customers {
    display: flex;
    gap: 325px;
}

.customer-part-1,
.customer-part-2 {
    background-color: var(--white-color);
    padding: 25px;
}

.customer-part-1>p,
.customer-part-2>p {
    font-size: 19px;
    font-family: var(--manrope);
}

.customer-1,
.customer-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: var(--dark-color);
}

.customer-info-1,
.customer-info-2 {
    display: flex;
    gap: 20px;
}

.contacts>p,
.contacts>span {
    color: var(--white-color);
    font-size: 15px;
    font-family: var(--manrope);
    margin: 0;
}

@media only screen and (max-width: 1215px) {
    .custom-img {
        display: none;
    }
}

@media only screen and (max-width: 1150px) {
    .customer {
        padding: 65px;
    }
}

@media only screen and (max-width: 1023px) {
    .customers {
        gap: 126px;
    }

    .customer-part-1,
    .customer-part-2 {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .customers {
        flex-direction: column;
    }

    .customer {
        padding: 45px;
    }
}

@media only screen and (max-width: 490px) {
    .customer {
        padding: 35px;
    }

    .header {
        font-size: 30px;
    }
}