.lifestyle {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.lifestyle-info-1>p {
    font-size: var(--font-15);
    font-family: var(--manrope);
    color: var(--main-color);
}

.lifestyle-info-2 {
    width: 520px;
}

.lifestyle-info-2>p {
    font-size: 45px;
    font-family: var(--playfair);
    color: var(--black-color);
}

.lifestyle-info-3 {
    width: 590px;
}

.lifestyle-info-3>p {
    font-size: var(--font-18);
    color: var(--grey-color);
    font-family: var(--manrope);
}

.beauty-parts {
    display: flex;
    gap: 70px;
}

.beauty-part {
    width: 140px;
    height: 125px;
    border: 1px solid var(--black-color);
    text-align: center;
    padding: 10px;
}

.beauty-part>p {
    width: 100%;
    font-size: var(--font-15);
    margin: 0px;
}

.lifestyle-img-1>img {
    width: 100%;
}

@media only screen and (max-width: 1150px) {
    .lifestyle {
        padding: 65px;
    }
}

@media only screen and (max-width: 850px) {
    .lifestyle-img-1 {
        display: none;
    }
}


@media only screen and (max-width: 750px) {
    .beauty-parts {
        gap: 50px;
    }

    .lifestyle {
        padding: 45px;
    }
}

@media only screen and (max-width: 570px) {
    .beauty-parts {
        gap: 17px;
    }

    .lifestyle-info-2>p {
        width: 480px;
        font-size: 30px;
    }

    .lifestyle-info-3>p {
        width: 480px;
    }
}


@media only screen and (max-width: 490px) {
    .lifestyle {
        padding: 35px;
    }

    .lifestyle-info {
        width: 300px;
    }

    .lifestyle-info-2,
    .lifestyle-info-3 {
        width: 300px;
    }

    .lifestyle-info-2>p {
        font-size: 25px;
        width: 300px;
    }

    .lifestyle-info-3>p {
        font-size: var(--font-15);
        width: 300px;
    }

    .beauty-parts {
        display: none
    }
}