.beauty {
    padding: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spa-info {
    width: 320px;
}

.spa-info>p {
    font-size: 18px;
    color: var(--grey-color);
    font-family: var(--manrope);
}

.hair-info {
    width: 370px;
}

.hair-info>p {
    font-size: 18px;
    color: var(--grey-color);
    font-family: var(--manrope);
}

.body-info {
    width: 335px;
}

.body-info>p {
    font-size: 18px;
    color: var(--grey-color);
    font-family: var(--manrope);
}

.spa-title,
.hair-title,
.body-title {
    font-family: var(--playfair);
    font-size: 26px;
    padding-top: 5px;
}

.beauty-btn {
    border: 2px solid var(--main-color);
    font-size: 12px;
    font-family: var(--manrope);
    padding: 12px;
    color: var(--black-color);
    background-color: var(--white-color);
}

.top-btn {
    width: 50px;
    height: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    margin-top: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media only screen and (max-width: 1319px) {
    .beauty {
        justify-content: center;
        gap: 99px;
    }
}

@media only screen and (max-width: 1150px) {
    .beauty {
        padding: 65px;
    }
}

@media only screen and (max-width: 1023px) {
    .beauty {
        gap: 35px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .beauty-img {
        width: 100%;
    }
}


@media only screen and (max-width: 750px) {
    .beauty {
        padding: 45px;
    }
}

@media only screen and (max-width: 490px) {
    .beauty {
        padding: 35px;
    }

    .hair-info {
        width: 325px;
    }

    .hair-info>p {
        width: 84%;
    }

    .beauty-part2 {
        width: 100%;
    }
}