.navbar-inner{
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.navbar-left-part{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 55px;
}

.navbar-left-part-1{
    display: flex;
    align-items: center;
}

.navbar-left-part-2{
    display: flex;
    gap: 10px;
}

.navbar-right-part{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
}

.icons-part{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.pages-part{
    display: flex;
    gap: 35px;
}

.pages-part>p{
    font-size: 14px;
    margin-top: 13px;
    font-weight: 500;
}

.pages-part>p:hover{
    color: var(--main-color);
    cursor: pointer;
}

.navbar-btn{
    padding: 12px;
    width: 100%;
    border: none;
    display: flex;
    gap: 12px;
    font-size: 11px;
    background-color: var(--main-color);
    color: var(--white-color);
}

@media only screen and (max-width: 1023px) {
    .navbar-right-part{
        gap: 20px;
    }

    .navbar-left-part{
        gap: 30px;
    }

    .pages-part{
        gap: 15px;
    }
}
